DATABASE_NAME=backend
DATABASE_USER=db_user
DATABASE_PASSWORD=db_admin
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEBUG=True
ALLOWED_HOSTS='*'
SECRET_KEY='django secret key'
SECRET_HEADER='5582c59d-0322-4943-8058-e869a05699eb'

SESSION_COOKIE_DOMAIN='backend.local'
CACHE_LOCATION='redis://localhost:6379/5'
