Django
django-jet-reboot @ https://github.com/arunmandal53/django-jet-reboot/releases/download/release-v1.3.2/django_jet_reboot-1.3.2-py3-none-any.whl
django-log-request-id
djangorestframework
drf-spectacular
drf-spectacular-sidecar
mysqlclient
mysql-connector-python
python-decouple
PyYAML
six
